<?xml version="1.0" encoding="utf-8"?>
<uexplugins>
    <plugin
        className="com.test.EUExDemo" uexName="uexDemo" >
        <method name = "test_startActivityForResult" />
        <method name = "test_addView"/>
        <method name = "test_removeView"/>
        <method name = "test_vibrator" />
        <method name = "test_showInputDialog" />
        <method name = "test_addFragment" />
        <method name = "test_removeFragment" />
    </plugin>
</uexplugins>